<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>USER STORIES:</h1>
    <a th:href="@{/new-user-story}">Add new user story</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
            <th>EDIT</th>
        </tr>
        <tr th:each="s : ${userStories}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.title}"></td>
            <td th:text="${s.story}"></td>
            <td th:text="${s.acceptanceCriteria}"></td>
            <td th:text="${s.businessValue}"></td>
            <td th:text="${s.estimation}"></td>
            <td th:text="${s.userStoryStatus}"></td>
            <td><a th:href="@{/story/{id}(id=${s.id})}">Edit</a></td>
        </tr>
    </table>
</body>
</html>